* {
    font-family: 'Mochiy Pop P One', sans-serif;
}

body {
    background-color: #aeebf2;
    background-image: url(../images/background.jpg);
    background-size: 100vw 100vh;
}

#gameboard {
    border: 3px solid black;
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translate(-50%);
}

#apple {
    width: 80%;
    height: 80%;
    position: relative;
    left: 10%;
    top: 10%;
    transition: all 0.2s;
}

.field {
    width: 50px;
    height: 50px;
    float: left;
}

.snake, .body{
    position: absolute;
    width: 50px;
    height: 50px;
    /* transition: all 0.1s; */
    z-index: 2;
}

#head {
    z-index: 3;
}

.body {
    z-index: 1;
}

#score, #msg {
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top: 5px;
    padding: 5px;
    color: white;
    font-size: 5vh;
    text-align: center;
    background-color: #00000070;
}

#msg {
    position: absolute;
    top: 37.5%;
    font-size: 3vh;
    z-index: 10;
}

#reset {
    color: black;
    text-align: center;
    margin-top:0;
    margin-bottom: 1%;
}

#mouse {
    position: absolute;
    width: 50px;
    height: 50px;
}